/* web page */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    background-color: #f2f2f2;
}
ul{
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 922px;
}

/* login bar */
.loginbar {
    text-align: right;
    min-height: 50px;
    vertical-align: middle;

}
.login_section{
    width: 922px;
    height: 50px;
}    
.a_buttonSmall{
    background-color: #3E3E3E;
    color: white;
    padding: 0px 30px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; 
    margin-top: 20px;
}
.a_button{
    background-color: #3E3E3E;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; 
    margin: 5px;
}
.userbuttons{
    float: right;
    min-width: 350px;
}
.user_hello{
    float: left;
}
.userbutton{
    display: inline;
}
/* header */
.header {
    color: #333;
    width: 922px;
    padding: 0px;
    border: 1px solid #ccc;
    height: 105px;
    margin: 10px 0px 2px 0px;
    background: #696969;

}

.headertext {
    text-align: left;
    margin: 10px;

}

/* horizontal menu  */
.menu {
    background-color: #333;
    white-space: nowrap;
}

.menu_a {
    display: inline-block;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
}

.menu_a:hover {
    background-color: #777;
}

/* leftcolumn*/
/* vertical menu */

.leftmenu {
    color: white;
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 220px;
    float: left;
}

.leftmenu_a{
    color: white;
    height: 24px;
    text-decoration: none;
}

.leftmenu_a:link{
    display: block;
    padding: 8px 0 0 30px;
    background: url(menu.gif);
}
.leftmenu_a:hover{
    color: #FFF;
    background: url(menu.gif) 0 -32px;
}
.leftmenu_ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* content */
.content {
    float: left;
    color: #333;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    height: auto;
    width: 670px;
    display: inline;
}
/* books page ,publisher page, type page, login page 
 user page*/

.table_ul{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.table_a{
    background-color: #3E3E3E;
    color: #fff;
    padding: 0px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; 
    border: 10px;
}

.book_details_table, .publihser_details_table, .type_list_table,
.publihser_list_table, .user_add_table_td, .change_password_table,
.user_table_details, .user_edit_table{
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    width: 690px;
    margin-top: 4%;
}

.book_add_table, .publisher_add_table, .type_add_table,
.login_table, .user_add_table{
    margin: auto;
    width: 690px;
    margin-top: 4%;
}

.book_add_table_td, .publisher_add_table_td, .type_add_table_td,
.login_table_td, user_add_table_td, .change_password_table_td{
    padding: 5px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.book_add_table_input, .publisher_add_table_input, .type_add_table_input,
.login_table_input, .user_add_table_input, .change_password_table_input,
.user_edit_table_input{
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid silver;
    width: 400px;
    outline: 0;
}

.book_add_table_select, .user_edit_table_select{
    width: 200px;
    font-size: 16px;
    border: 1px solid silver;
    text-align: center;
}
.type_left {
    float: left;
    margin: 25px;
}
.type_right {
    float: right;
}

.type_button{

    background-color: #3E3E3E;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; 
    border: 10px;
}

/* footer */
.footer {
    width: 900px;
    clear: both;
    color: #333;
    border: 1px solid #ccc;
    background-color: #F3F2ED; 
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

.footer_content{
    width: 880px;
    border: 1px solid #ccc;
    margin: auto;
    font-weight: bold;
    text-align: right;
}
